@model CreateUserModel
@{
    ViewData["Title"] = "Create Patient";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @await Html.PartialAsync("_Create", Model)
        </div>
    </div>
</div>


@section _AddItems {


}

