@model CreateUserModel
@{
    ViewData["Title"] = "Create Patient";
    Layout = "_Create";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        
    </div>
</div>



