@using HospitalManagementSystem.Application.Models.Doctors
@model DoctorProfileModel

<h2>Doctor Profile</h2>

<div>
    <h3>@Model.Name</h3>
    <p><strong>Patients:</strong></p>
    <ul>
        @foreach (var patient in Model.Patients)
        {
            <li>@patient.Name</li>
        }
    </ul>
    <p><strong>Appointments:</strong></p>
    <ul>
        @foreach (var appointment in Model.Appointments)
        {
            <li>@appointment.DateTime.ToString("g") - @appointment.Patient.Name</li>
        }
    </ul>
    
</div>
