@using HospitalManagementSystem.Application.Models.Doctors

@model IEnumerable<DoctorsIndexModel>

<h2>Doctors</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@doctor.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-Id="@doctor.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Profile" asp-route-Id="@doctor.Id" class="btn btn-info">Profile</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create New Doctor</a>
